@import "variables";

.commision-card {
  & table {
    & th {
      font-weight: 700 !important;
      color: $accent-gold;
    }
  }
}

.test {
  border: solid 1px red !important;
}

.tab-2-dialog {
  & .v-tabs-window {
    overflow: auto !important;
  }
}
